<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <title>RNNPredict-Login</title>
    <link rel="stylesheet" href="../webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/favi.png">
</head>
<body>
<div class="container" style="margin-top: 10%;width: 30%">
<form th:action="@{/login}" method="post">
    <h3><a href="#">RNNPredict-Login</a></h3>
    <div class="form-group">
        <label for="exampleInputEmail1">Username:</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password:</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" onclick="return checkInput()">Login</button>
</form>
    <div>
        <a href="/register">If you don't have an account, please register.</a>
    </div>
</div>

<script th:inline="javascript">
    function checkInput() {
        var username = document.getElementById("exampleInputEmail1");
        if (username.value.length == 0) {
            alert("username can not be empty");
            return false;
        }
        var password = document.getElementById("exampleInputPassword1");
        if (password.value.length == 0) {
            alert("password can not be empty");
            return false;
        }
        return true;
    }
</script>

</body>

</html>