<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:transform="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../webjars/bootstrap/4.4.1/css/bootstrap.css">
    <title>RNNPredict-Main</title>
    <link rel="shortcut icon" href="/static/img/favi.png">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" style="margin-left: 16px;margin-right: 20px">
    <div class="form-inline">
        <a class="navbar-brand disabled" href="#" th:text="${username}"></a>
        <div class="active">
            <a class="nav-item" href="/main">Main</a>
        </div>
        <div style="margin-left: 10px">
            <a class="nav-item" href="/slides">Slides</a>
        </div>
    </div>

    <div class="pull-right">
        <ul class="nav navbar-nav">
            <li><a href="/login">Logout</a></li>
        </ul>
    </div>
</div>
<hr style="margin-left: 20px;margin-right: 20px">
<div class="upload-container" style="margin-top: 10px;margin-left: 20px;margin-right: 20px">
    <div class="upload-content">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file_upload_id" aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="file_upload_id" id="file_label_id">Choose slides to upload</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="UploadFile()">UpLoad</button>
            </div>
        </div>

        <div id="progress_info_id" style="display: none;padding-top: 3px">
            <div class="progress">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            <span id="percentage"></span>
            <span id="time"></span>
        </div>

    </div>
</div>

<div class="d-flex flex-row" style="margin-left: 20px;margin-top: 20px">
    <div region="west" class="west" style="width: 400px;">
            <tr  th:each="slide, slide_state : ${slide_list}">
                <block th:if="${slide_state.index != active_index}">
                    <a href="#" th:id="${slide_state.index}" class="list-group-item"
                       th:text="${slide.getPath()}" th:onclick="slide_click([[${slide_state.index}]], [[${slide.getFlag()}]],
                                                                            [[${slide.getPath()}]], [[${slide_scores[slide_state.index]}]])"></a>
                </block>
                <block th:unless="${slide_state.index != active_index}">
                    <a href="#" th:id="${slide_state.index}" class="list-group-item active"
                       th:text="${slide.getPath()}" th:onclick="slide_click([[${slide_state.index}]], [[${slide.getFlag()}]],
                                                                            [[${slide.getPath()}]], [[${slide_scores[slide_state.index]}]])"></a>
                </block>
            </tr>
    </div>

    <div region="center" class="center flex-fill" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div class="jumbotron" style="margin-left: 15px;margin-right: 15px">
            <div class="row">
                <div style="display: none">
                    <img id="slide_thumbnail_id" th:src="'main/' + ${active_index} + '/0'">
                </div>
                <canvas id="canvas" width="800" height="800" onmouseover="mouseOver()" onmouseout="mouseOut()"
                        onmousedown="mousedown()" onmouseup="mouseup()">
                </canvas>
                <div style="margin-left: 50px;margin-top: 20px">
                    <div class="form-inline">
                        <h1 id="slide_path_id" th:text="${slide_list[active_index].getPath()}"></h1>
                        <button style="margin-left: 10px" type="restore_btn" class="btn btn-primary" th:onclick="set_canvas_img()">Restore</button>
                    </div>
                    <button th:id="start_btn_id" class="btn btn-primary btn-lg" th:onclick="start([[${active_index}]])">Start</button>
                    <span id="foo">process: </span>
                    <div class="progress" style="margin-top: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
            </div>
        </div>
        <block  th:each="rows : ${#numbers.sequence(0,1)}">
            <div class="row" style="margin-top: 10px;margin-left: 15px">
                <div class="form-inline">
                    <block th:each="cols: ${#numbers.sequence(1,5)}">
                        <div class="card" style="width: 18rem; margin-left: 10px">
                            <img th:id="'slide_patch_' + ${rows * 5 + cols}"
                                 th:src="'main/' + ${active_index} + '/' + ${rows * 5 + cols}" class="card-img-top">
                            <div class="card-body">
                                <h5>
                                    <a th:id="'slide_score_' + ${rows * 5 + cols}" class="card-title" href="#"
                                       th:text="${slide_scores[active_index][rows * 5 + cols - 1]} + '(view)'"
                                       th:onclick="slide_patch_click([[${active_index}]], [[${rows * 5 + cols}]])"></a>
                                </h5>
                            </div>
                        </div>
                    </block>
                </div>
            </div>
        </block>

    </div>
</div>

<script th:src="@{~/js/up_load_progress.js}" src="../static/js/up_load_progress.js"></script>
<script th:inline="javascript" th:src="@{~/js/switch_slide.js}"></script>
<script th:src="@{~/js/mouse_listener.js}" src="../static/js/mouse_listener.js"></script>
<script th:src="@{~/js/file_input.js}" src="../static/js/file_input.js"></script>
</body>
</html>